$text-shadow: rgba(#000, 0.41)
$light-blue: #ABE4FF
$charcoal: #3f4956
$darkened-charcoal: darken($charcoal, 15%)
$darkest-charcoal: darken($charcoal, 20%)
$light-charcoal: lighten($charcoal, 40%)
$lightest-charcoal: lighten($charcoal, 67%)
$dark-gray: #666566
$light-gray: #cdcdcd
$purple: #888dba
$light-purple: #bac2ff
$off-black: #070709
$fb-blue: #3b5997
$twitter-cyan: #19bfe5