// *** Google Fonts ***
@import "//fonts.googleapis.com/css?family=Raleway:200,500,600"

$heading-font: "Raleway", sans-serif
$body-font: "Avenir Next", sans-serif
$accent-font: "Didot", serif

html
  font-family: $body-font
  font-size: 62.5%

=placeholder 
  &::-webkit-input-placeholder 
    @content

  &:-moz-placeholder           
    @content

  &::-moz-placeholder          
    @content

  &:-ms-input-placeholder      
    @content

// .didot-number
//   font-family: "Adobe Garamond"

h3
  font-family: $heading-font
  font-size: 35px
  font-size: 3.5rem
  font-weight: 500

p
  font-size: 19px
  font-size: 1.9rem
  line-height: 160%