$heading-font: "Raleway", sans-serif
$body-font: "proxima-nova", sans-serif

html
  font-family: $body-font
  font-weight: 400
  font-size: 62.5%

=placeholder
  &::-webkit-input-placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &:-ms-input-placeholder
    @content

h2
  font-family: $heading-font
  font-size: 35px
  font-size: 3.5rem
  font-weight: 500

p
  font-size: 19px
  font-size: 1.9rem
  line-height: 160%

  strong
    font-weight: 700

