.submit
  form
    margin-top: 40px
    width: 60%
    input[type=text], input[type=email]
      +email-input($charcoal, $charcoal, $charcoal)
      display: block
      width: 68.3%
      margin-bottom: 20px
      font-size: 22px
    input[type=submit]
      +submit-cta($purple, white, $charcoal)
      font-size: 22px
      font-weight: normal
