= partial "email_subscribe", 
          locals: { list_code: "tyoyk", 
                    subscribe_button: locals[:subscribe_button],
                    form_id: locals[:form_id],
                    utm_id: "fieldydikil",
                    utm_name: "cm-f-ydikil" }