= partial "email_subscribe",
          locals: { list_code: "tyoyh",
                    subscribe_button: locals[:subscribe_button],
                    form_id: "designer-form",
                    utm_id: "fieldydiktd",
                    utm_name: "cm-f-ydiktd" }
