$left-gutter: 15%
$top-bottom-margin: 5%

#designers
  background: $purple
  padding-bottom: $top-bottom-margin

  h1
    font-family: $heading-font
    text-transform: uppercase
    color: #fff
    font-size: 77px
    font-size: 7.7em
    font-weight: 100
    margin: 0 0 $top-bottom-margin/2 $left-gutter
    padding: $top-bottom-margin 0 $top-bottom-margin/3 0
    border-bottom: 1px solid rgba(#fff, 0.7)

    @media (max-width : 685px)
      margin-left: $left-gutter * 0.66

  .designers-content
    padding-left: $left-gutter
    @media (max-width : 685px)
      padding-left: $left-gutter * 0.66

    +box-sizing(border-box)
    margin-bottom: $top-bottom-margin * 0.75

    section
      margin-bottom: $top-bottom-margin/2

    h2
      color: $light-purple
      margin-bottom: $top-bottom-margin/3
      font-size: 3rem

    p
      color: darken($charcoal, 8%)
      width: 67.5%

      @media (max-width : 685px)
        width: 85%


  form.subscribe
    width: 100%
    +subscribe-form($light-purple, $light-purple, $light-purple, none, #fff, #fff)
    input[type=email]
      margin-left: $left-gutter
      @media (max-width : 685px)
        margin-left: $left-gutter * 0.66
    input[type=submit]
      @media (max-width : 685px)
        margin-left: $left-gutter * 0.66



.designer-landing
  background: #fff

  #landing-banner
    .content
      padding-top: 9%
      @media (max-width : 593px)
        padding-top: 15%
      @media (max-width : 420px)
        padding-top: 7.5%

    .banner-cta
      form, .discount
        display: none

  #designers
    background: #fff
    section
      margin-bottom: 4rem
    h1
      color: $purple
      border-bottom: 1px solid rgba($purple, 0.8)
      margin-bottom: 4rem
    h2
      font-weight: 400
      // color: darken($purple, 5%)
      color: $charcoal

    p
      color: $dark-gray

    form.subscribe
      +subscribe-form($charcoal, $charcoal, $charcoal, $charcoal, #fff, #fff)
      input[type=submit]
        font-weight: 400
      input[type=email], input[type=submit]
        @media (max-width : 685px)
          margin-left: 10%
  a.home
    padding-left: 15%
    text-decoration: none





