.info-sections section 
  +box-sizing(border-box)
  padding: 60px
  padding 6rem
  text-align: center
  border-bottom: 1px solid $light-gray
  
  h3
    color: $charcoal
    margin: 0 auto 22px
    margin: 0 auto 2.2rem

  p
    color: $dark-gray
    width: 610px
    width: 61rem
    margin: 0 auto

  form.subscribe
    +subscribe-form($dark-gray, $dark-gray, $dark-gray, $charcoal, #fff, $charcoal)
    margin-top: 44px
    margin-top: 4.4rem 

